<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/book/add" method="post">
    <p>Введите название книги</p>
    <input type="text" name="title">

    <p>Введите автора книги</p>
    <input type="text" name="author">

    <p>Введите описание для книги</p>
    <textarea name="info" id="" cols="30" rows="10"></textarea>

    <p>Введите стоимость книги</p>
    <input type="text" name="price"><br><br>

    <input type="submit" value="Сохранить">
</form>
</body>
</html>